nav.nav
  ul.nav__items
    li.nav__item
      a(href="#").nav__link
        span.nav__link-text
          | О нас
    li.nav__item
      a(href="#").nav__link
        span.nav__link-text
          | Направления
    li.nav__item
      a(href="#").nav__link
        span.nav__link-text
          | Проекты
    //- li.nav__item
      button.nav__submenu
        span.nav__submenu-title
          |
      ul.nav__menu
        li.nav__menu-item
          a(href="#").nav__link
            span.nav__link-text
              |
    li.nav__item
      theme-switch
