article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

img,
svg,
video {
  vertical-align: middle;
}

// https://github.com/hankchizljaw/modern-css-reset/blob/master/src/reset.css
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

details {
  list-style: none;
}

summary {
  list-style: none;

  &::-webkit-details-marker,
  &::before {
    display: none;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

// https://github.com/necolas/normalize.css/blob/master/normalize.css
html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.15;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  background-color: transparent;

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
    outline: 0;
  }

  &:focus:not(:focus-visible) {
    outline: 0;
  }
}

abbr[title] {
  border-bottom: none;
}

q {
  quotes: "\201C""\201D""\2018""\2019";
}

small {
  font-size: 80%;
}

img {
  display: block;
  border: 0;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

svg:not(:root) {
  overflow: hidden;
}

button {
  outline: transparent;
  border: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: thin dotted;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;

  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

[disabled],
[aria-disabled] {
  filter: grayscale(100%) opacity(50%);
  cursor: not-allowed;
}

[hidden] { display: none !important; }
